.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 2rem 6rem;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.uniforms_navbar-links_container {
    display: flex;
    flex-direction: row;
}

.navbar-sign-out {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.uniforms_navbar-links_container p,
.uniforms_navbar-signin p,
.uniforms_navbar-menu_container p {
    color: #040C18;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.sign-out-button {
    padding: .5rem 1rem;
    color: white;
    background:#65081F;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: auto;
}

.menu {
    margin-left: 1rem;
    display: none;
    position: relative;
    color: #040C18;
}

.uniforms_navbar-menu svg {
    cursor: pointer;
    color: black;
}

.menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.menu_container-links_sign-out {
    display: none;
}

.menu_container-links_sign-out p{
    color: black
}

@media screen and (max-width: 1050px) {
    .navbar-links_container{
        display: none;
    }

    .menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .uniforms_navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .uniforms_navbar {
        padding: 2rem;
    }

    .sign-out-button {
        display: none;
    }

    .menu_container {
        top: 20px;
    }

    .menu_container-links_sign-out {
        display: block;
        color: black;
    }
}

.dropdown {
    display: flex;
    flex-direction: column;
}